{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<div class="d-flex justify-content-center">
			<h1 class ="py-4">Deli Audit</h1>
		</div>
		<div class="d-flex justify-content-center">
			<a class="px-5" href="../login">Login</a>
		</div>
		{% if inSession %}
		<div class="d-flex justify-content-center">
			<a class="py-3" href="../register">Register New User</a>
		</div>
		<div class="d-flex justify-content-center">
			<a class="px-5" href="../logout">Logout</a>
		</div>
		{% endif %}
	</div>
	{% if inSession %}
	<div class="container">
		<h2>New Audit</h2>
		<form action="#" method="post">
			<p>Store Number:</p>
			<p><input type="text" inputmode="numeric" name="storeNumber" /></p>
			<p><input type="submit" value="Create" /></p>
		</form>
	</div>
	<div class="container">
		<h2 class="pt-4">Search Audits by Store</h2>
		<form action="/searchAudits" method="post">
			<p>Store Number:</p>
			<p><input type="text" inputmode="numeric" name="storeNumber" /></p>
			<p><input type="submit" value="Search" /></p>
		</form>
	</div>
	<div class="container pt-3">
		<a href="../itemEntry">Manage Item Master List</a>
	</div>
	{% endif %}
{% endblock %}